@import url("https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/5.3.8/css/bootstrap.min.css");

@import url("https://cdn.bootcdn.net/ajax/libs/font-awesome/7.0.1/css/all.min.css");
@import url("https://cdn.bootcdn.net/ajax/libs/bootstrap-icons/1.13.1/font/bootstrap-icons.min.css");

@import url('https://fonts.loli.net/css2?family=Noto+Serif+KR:wght@200..900&display=swap');
@import url('https://fonts.loli.net/css2?family=Noto+Serif+SC:wght@200..900&display=swap');
@import url('https://fonts.loli.net/css2?family=Noto+Sans+SC:wght@100..900&display=swap');
@import url('https://fonts.loli.net/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

/*B站粉色色号，仅作备忘用*/
.bili{
  --bili_0: #FF6699;
  --bili_0_rgb: rgb(255, 102, 153);
  --bili_1: #E84B85;
  --bili_1_rgb: rgb(232, 75, 133);
  --bili_-1: #FF8CB0;
  --bili_-1_rgb:rgb(255, 140, 176);
  --bili_-2: #FFB3CA;
  --bili_-2_rgb:rgb(255, 179, 202);
  --bili_-3: #FFECF1;
  --bili_-3_rgb:rgb(255, 236, 241);
}

/* 修改默认主题 */
:root{
	--bs-primary: #FF6699;
	--bs-primary-rgb: 232, 75, 133;
	--bs-font-sans-serif: "Noto Sans SC", system-ui, -apple-system, "Segoe UI", "Roboto", "Helvetica Neue", "Noto Sans", "Liberation Sans", "Arial", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
:root{
  --bs-link-color: #E84B85;
  --bs-link-color-rgb: 232, 75, 133;
  --bs-link-decoration: underline;
  --bs-link-hover-color: #E84B85;
  --bs-link-hover-color-rgb: 232, 75, 133;
}
[data-bs-theme=dark]{
  --bs-link-color: #fff;
  --bs-link-hover-color: #f8f9fa;
  --bs-link-color-rgb: 255, 255, 255;
  --bs-link-hover-color-rgb: 248, 249, 250;
}
.btn-light {
  --bs-btn-color: #E84B85;
  --bs-btn-bg: #fff;
  --bs-btn-border-color: #f8f9fa;
  --bs-btn-hover-color: #E84B85;
  --bs-btn-hover-bg: #f8f9fa;
  --bs-btn-hover-border-color: #c6c7c8;
  --bs-btn-focus-shadow-rgb: 211, 212, 213;
  --bs-btn-active-color: #FF6699;
  --bs-btn-active-bg: #f8f9fa;
  --bs-btn-active-border-color: #babbbc;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #000;
  --bs-btn-disabled-bg: #f8f9fa;
  --bs-btn-disabled-border-color: #f8f9fa;
}
abbr[title] {
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
  text-underline-offset: 0.2em;
  cursor: help;
  -webkit-text-decoration-skip-ink: none;
  text-decoration-skip-ink: none;
}
.link-offset-2 {text-underline-offset: 0.22em !important;}
.link-offset-2-hover:hover {text-underline-offset: 0.22em !important;}
.dropdown-menu {--bs-dropdown-link-active-bg: #FF6699;}

/* == 自定义类 == */
.logo {
  font-family: "Noto Serif KR", "SimSun", serif;
  font-optical-sizing: auto;
  font-weight: 900;
  text-transform: full-width;
  letter-spacing: .2em;
}
.serif{font-family: "Noto Serif SC", "SimSun", serif;}
.fw-900,.fw-black,.fw-heavy{font-weight: 900;}
.fw-800{font-weight: 800;}
.fw-700{font-weight: 700;}
.fw-600{font-weight: 600;}
.fw-500{font-weight: 500;}
.fw-400{font-weight: 400;}
.fw-300{font-weight: 300;}
.fw-200{font-weight: 200;}
.fw-100{font-weight: 100;}
.fw-light-p p, .fw-light-p li{font-weight: 340;}

/* 用于文章，提供缩进，缩减mb */
.indent{text-indent: 2em;}
.noindent{text-indent: 0;}
.deng p{margin-bottom: .5rem;}  /* 移除段落p的mb-3即1rem，改为mb-2即.5rem */

.nobullet > ul {list-style: none; padding-left: 0;}
ul.nobullet {list-style: none;}

/* 名榜.bang  页脚.ka  自定义dl样式 */
.bang dt, .bang dd, .ka dt, .ka dd{display: inline;}
.bang dt{font-weight: 500;}
.bang dd{font-weight: 300;}
.ka dt{font-weight: 400;}
.ka dd{font-weight: 400;}
.bang dt:not(:first-child)::before, .ka dt:not(:first-child)::before{content: "\A"; white-space: pre;}
.bang dt::after, .ka dt::after{content:"：";}

/* 链.lieng = link-offset-2 link-underline link-underline-opacity-0 link-underline-opacity-75-hover */
.lieng {
    text-underline-offset: 0.22em !important;
    -webkit-text-decoration-color: rgba(var(--bs-link-color-rgb), 0) !important;
    text-decoration-color: rgba(var(--bs-link-color-rgb), 0) !important;
    text-decoration-line: underline !important;
}
.lieng:hover {
    --bs-link-underline-opacity: 0.75;
    -webkit-text-decoration-color: rgba(var(--bs-link-color-rgb), var(--bs-link-underline-opacity)) !important;
    text-decoration-color: rgba(var(--bs-link-color-rgb), var(--bs-link-underline-opacity)) !important;
}

.F{color: #E84B85; font-weight: bold;}
.M{}

address{display: inline;}
u{text-underline-offset: 0.22em; text-decoration-color: rgba(0,0,0,0.7);}