<footer class="bg-primary" data-bs-theme="dark">
<div class="container text-white">
<div class="row py-4 px-3">
	<section id="contact" class="col-md col-xl col-xxl ka mt-3">
		<h5 class="mb-1"><i class="fa-solid fa-envelope me-1"></i>Contact</h5>
		<dl class="ms-4">
			<dt>Email</dt><dd>me@dqwyy.moe</dd>
		</dl>
		<h5 class="mb-1"><i class="fa-solid fa-link me-1"></i>Blogroll</h5>
		<ul class="list-unstyled">
			<li><a href="https://vrcteo.dqwyy.moe/en.html" target="_blank" class="ms-4 lieng">VRChat Teochew Association<small class="fst-italic"> (parent project)</small></a></li>
			<li><a href="https://vtbs.moe/" target="_blank" class="ms-4 lieng">vtbs.moe</a></li>
		</ul>
	</section>
	<section id="copyright" class="col-md-6 col-xl-5 col-xxl-5 mt-4 mt-md-0">
		<div class="border-bottom border-white border-2 border-opacity-75 mb-3">
			<h1 class="logo text-white mb-0">TEO-V Name List</h1>
			<div class="fw-medium text-uppercase serif fst-italic" style="word-spacing: .1em;">The Teochew VTuber Database</div>
		</div>
		<a href="https://creativecommons.org/publicdomain/zero/1.0/" target="_blank"><img src="https://vrcteo.dqwyy.moe/image/cc-zero.svg"></a>
		<p class="mb-0">Powered by <a class="lieng" href="https://pages.github.com/" target="_blank">GitHub Pages</a>, <a class="lieng" href="https://getbootstrap.com/" target="_blank">Bootstrap</a>, <a href="/thank/en.html" class="link-offset-2" style="text-decoration: underline dotted;">etc.</a></p>
		<p class="text-uppercase mb-0">
			<a class="lieng" href="https://creativecommons.org/publicdomain/zero/1.0/" target="_blank">CC0</a> <span style="font-family: Meiryo UI;">⓪</span> 2026–<span id="thisyear"></span>
			<a class="lieng" href="https://vrcteo.dqwyy.moe/en.html" target="_blank">VRChat Teochew Association</a>, 
			<abbr title="Unless otherwise noted or quoted contents">No rights reserved</abbr>
		</p>
	</section>

</div>
</div>
</footer>